/* type selectors */
article, aside, figure, footer, header, nav, section, tieude {
    display: block;
}
html {
    background-image: -webkit-linear-gradient(left, #facd8a 100%, white 10%);
}
body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 87.5%;
    width: 964px;
    background-color: white;
    margin: 15px auto;
    padding: 15px 25px;
    border: 1px solid black;
}
section, aside, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}
section, aside {
    margin-top: 1.5em;
    margin-bottom: 1em;    
}

h1 { font-size: 175%; }
h2 { font-size: 125%; }

a { font-weight: bold; }
a:link { color: green; }
a:visited { color: green; }
a.current { color: #ef9c00; }
a:hover, a:focus { color: blue; }

ul { 
    margin-left: 1.5em;
    margin-bottom: 1.5em; 
}
li { padding-bottom: 0.25em; }

p { padding-bottom: 0.5em; }

em { font-weight: bold; }

/* the styles for the header */
header { 
    padding-bottom: 2em;
    border-bottom: 2px solid #ef9c00;
}
header h1 {
    color: #ef9c00;
    margin-left: 120px;
    margin-bottom: 0.25em;
}
header h2 {
    color: green;
    font-style: italic;
    margin-left: 120px;
}
header img { 
    float: left;
}

/* the styles for the top navigation bar */
#nav_bar {
    clear: left;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #ef9c00;
    text-align: right;
}
#nav_bar ul {
    margin-bottom: .5em;
    list-style: none;
    padding-top: .5em;
}
#nav_bar li {
    display: inline;
    padding: 0 1.5em;
    border-left: 2px solid black;
}

/* the styles for the side navigation bar */
#sidebarA ul {
    margin-left: 0;
    list-style: none;
}
#sidebarA li {
    margin-bottom: .5em;
}

/* the styles for the section */
section {
    width: 520px;
    padding-right: 20px;
    padding-left: 20px;
    float: left;    
}
section h1 {
    margin-bottom: 0.35em; 
}
section h2 {
    margin-bottom: 0.35em;
}
.top_margin {
    margin-top: 1em;
}

/* product */
section img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}
.clear_both {
    clear: both;
}

/* email list */
section label {
    float: left;
    width: 15em;
    margin-bottom: 0.5em;
    font-weight: bold;
    padding-top: 0.25em;    
}
section input[type="text"], input[type="email"], input[type="password"] {
    width: 12em;
    margin-left: 0.5em;    
    margin-bottom: 0.5em;
}
section input[type="submit"] {
    margin-left: 0.5em;
}
br {
    clear: both;
}
#submit {
    margin-left: 0.5em;
}
tieude{
    font-weight: bold;
    margin-bottom: 0.5em;
    border-bottom: 2px solid #ef9c00;
}

table {
    border: 1px solid black;
}
th {
    vertical-align: bottom;
    text-align: left;
}
td {
    vertical-align: top;
}
td.center {
    text-align:center ;
}
tr, th, td {
    padding: .3em;
    border: 1px solid black;
}
.top {
    vertical-align: top;
}

/* the style for the cart pages */
.cart {
    width: 700px;
}
.cart label {
    float: left;
    width: 10em;
    font-weight: bold;
    padding-top: 0.25em;    
}
.cart input[type="text"], input[type="email"], input[type="password"] {
    float: left;
    width: 12em;
    margin-left: 0.5em;
    margin-right: 0.2em;
}
.cart input[type="button"] {
    margin-left: 0.5em;
}
.cart select {
    margin-left: 0.5em;
    margin-right: 0.2em;
}
.cart_row input[type="text"] {
    width: 2em;
    margin-left: 0em;
}
#required {
    margin-left: 8.5em;
    margin-bottom: .5em;
}
.required {
    color: red;
    margin-bottom: 0;
}
#quantity_text {
    width: 2em;
}
#float_left {
    float: left;
    margin-right: 1em;
}

/* the style for the admin pages */
#admin {
    width: 700px;
}
#admin form {
    margin-top: .5em;
}
#admin label {
    width: 14em;
    margin-left: .5em;
    padding-top: 0.25em;    
}
#admin .left_margin {
    margin-left: 0em;
}


/* the styles for the sidebars */
aside h1 {
    font-size: 125%;
    padding-bottom: .5em;
}
aside h2 {
    font-size: 100%;
    color: green;
    padding-bottom: .5em;
}
aside p {
    margin-bottom: .5em;
}
aside img {
    margin-bottom: 1em;    
}
#sidebarA { 
    width: 180px; 
    float: left; 
    height: 400px;
    border-right: 2px solid #ef9c00;
}
#sidebarB { 
    width: 180px; 
    float: right; 
    height: 400px;
    padding-left: 20px;
    border-left: 2px solid #ef9c00;
}


/* the styles for the footer */
footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid #ef9c00;
    padding-top: 0.7em;
}
footer p {
    font-size: 80%;
    text-align: right;
}

/* The styles for the classes */
.pad_top {
    padding-top: 0.25em;
}
.no_pad_top {
    padding-top: 0;
}
.margin_left {
    margin-left: 0.5em;
}
.no_underline {
    text-decoration:none;
}
label {
    float: left;
    width: 7em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
span {
    margin-left: 0.5em;    
    margin-bottom: 0.5em;    
}
table, th, td {
    border: 1px solid black;
}
table{
    width: 100%;
}

